body {
    background-color: rgb(24, 26, 27);
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fa {
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
}



